[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
six = "*"
Cython = "*"
numpy = "*"
uvicorn = "*"
daphne = "*"
django-redis = "*"
channels-redis = "*"
uWSGI = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"

[requires]
python_version = "3.10"