[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
django = "*"
six = "*"
django-dotenv = "*"
django-debug-toolbar = "*"
numpy = "*"
daphne = "*"
django-redis = "*"
channels-redis = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"

[requires]
python_version = "3.10"
