.window.impressum {
    max-width: 400px;
    max-height: 400px;
    position: fixed;
    
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .h1.start {
    font-weight: bold;
    font-size: 8vw;
    color: black;
    margin: 0;
    position: fixed;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.field-row-stacked.register {
    width: 250px
}