{% extends 'base.html' %}

{% block content %}
<!-- Stylesheets -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/css/login.css' %}">

    <h2 class="h1 start">
        DOOMSTEIN98
    </h2>

    <div class="window login" style="width: 300px">
        <div class="title-bar">
            <div class="title-bar-text">Login</div>
            <div class="title-bar-controls">
            <a href="{% url 'play' %}">
                <button aria-label="Close"></button>
            </a>
        </div>
    </div>
    <div class="window-body">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="field-row-stacked register" style="width: 200px">
                    <label><strong>{{ field.label_tag }}</strong></label>
                    {{ field }}
                    {% if field.help_text %}
                        <span class="helptext">{{ field.help_text }}</span>
                    {% endif %}
                </div>

                {% for error in field.errors %}
                    <span class="error">{{ field.help_text }}</span>
                {% endfor %}
            {% endfor %}
            
            {% if messages %}
            {% for message in messages %}
                    <span class="error">{{ message }}</span>
            {% endfor %}
            {% else %}
            <br>
            {% endif %}

            <section class="field-row" style="justify-content: flex-end">
                <a href="{% url 'register' %}">Not a user? Register here!</a>
                <button type="submit">OK</button>
            </section>
            
        </form>    
    </div>
  </div>
{% endblock %}