{% extends 'base.html' %}

{% block content %}
<!-- Stylesheets -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/css/privacy.css' %}">

    <h2 class="h1 start">
        DOOMSTEIN98
    </h2>

    <div class="window privacy">
        <div class="title-bar">
            <div class="title-bar-text">Privacy</div>
            <div class="title-bar-controls">
                <a href="{% url 'play' %}">
                    <button aria-label="Close"></button>
                </a>
            </div>
        </div>
       
        <div class="window-body">
        <div class="scrollDiv">
            <form method="post">
                {% csrf_token %}

                <br>
                <b>1. Allgemeine Hinweise </b> <br> <br>
                Diese Datenschutzerklärung erläutert Ihnen, in welchem Umfang wir bei einem Besuch unserer Web-Präsenzen, 
                sowie in diversen anderen Bereichen personenbezogene Daten erheben 
                und verarbeiten, zu welchen Zwecken sie genutzt werden, wer die Empfänger der Daten sind und wann sie gelöscht werden. 
                Die Art und Weise, wie wir Ihre Daten verarbeiten, ist dabei für die meisten unserer Angebote ähnlich. <br>
                Bitte beachten Sie, dass, 
                welche Daten im Einzelnen verarbeitet und in welcher Weise diese genutzt werden, sich maßgeblich danach richtet, 
                welche Dienstleistungen Sie in Anspruch nehmen und in welchem Land Sie sich befinden. 
                Daher werden nicht alle Teile dieser Informationen auf Sie zutreffen. <br>

                <br>
                <b> 2. Verantwortlicher, Ansprechpartner und Kontaktdaten </b> <br> <br>
                Verantwortlich für die Verarbeitung personenbezogener Daten in allen Bereichen ist die Doomstain98 GmbH, Hauptstr. 1, 70182 Stuttgart, Deutschland. <br>
                Sie erreichen uns telefonisch unter Tel.  0049 151 63459809 und per E-Mail unter kontakt@doomstain98.de.
                Bei Fragen zum Datenschutz bei Dommstain98 können Sie sich an datenschutz@doomstain98.de wenden.    
                Außerdem ist die betriebliche Datenschutzbeauftragte von Doomstain98 für jeden Betroffenen ansprechbar und kann erreicht werden unter datenschutz@doomstain98.de oder 
                postalisch unter oben angegebener Adresse mit dem Zusatz „z.Hd. der Datenschutzbeauftragten“.
                Sollten Sie sich wegen einer Frage der Verarbeitung Ihrer Daten an die zuständige Aufsichtsbehörde wenden wollen, 
                so ist dies der Landesbeauftragte für Datenschutz und Informationsfreiheit Baden-Württemberg. <br> 

                <br>
                <b>3. Übersicht über die Datenverarbeitungen bei Dommstain98</b> <br> <br>
                Gemeint mit personenbezogenen Daten, als einer der wichtigsten Begriffe, sind alle Informationen, die sich auf eine identifizierte oder identifizierbare Person beziehen. Dazu gehören z. B. Name, E-Mail-Adresse, etc. Als gesetzliche Grundlage für den Datenschutz dient insbesondere die Datenschutz-Grundverordnung (DSGVO). <br>
                Viele der von uns verarbeiteten Daten erheben wir bei Ihnen selbst, wenn Sie unsere Angebote nutzen oder mit uns in Kontakt treten, beispielsweise wenn Sie sich registrieren und dafür Ihren Namen oder Ihre E-Mail-Adresse angeben. Wir erhalten aber auch technische Geräte- und Zugriffsdaten, die bei Ihrer Nutzung unserer Angebote automatisch von uns erfasst werden. Dabei kann es sich beispielsweise um Informationen darüber handeln, welches Gerät Sie nutzen. <br>
                <br>
                <b>3.1. Log-Daten</b> <br><br>
                Zwecke der Verarbeitung und Rechtsgrundlage: <br>
                - Beim Aufrufen unserer Webseiten werden automatisch und ohne Ihr Zutun folgende Daten bei uns verarbeitet:<br>
                - IP-Adresse (teilweise verkürzt)<br>
                - Datum und Uhrzeit des Aufrufs<br>
                - Details zur Protokollversion, Referrer, HTTP-Methode, User-Agent-String<br>
                - aufgerufene Seite/Name der abgerufenen Datei und übertragene Datenmenge<br>
                - Meldung, ob der Zugriff/Abruf erfolgreich war<br><br>
                Dies geschieht um:<br>
                - einen reibungslosen Verbindungsaufbau zu gewährleisten,<br>
                - eine komfortable Nutzung unserer Webseiten/Applikationen zu ermöglichen<br>
                - und um die Systemsicherheit und -stabilität auszuwerten.<br><br>
                Die Rechtsgrundlage für die Verarbeitung der o. a. Daten ist Art. 6 Abs. 1 lit. f DSGVO. Unser berechtigtes Interesse besteht in den oben aufgelisteten Zwecken der Datenverarbeitung. Wenn die Darstellung der Vorbereitung eines Vertrags dient, ist die Rechtsgrundlage für die Datenverarbeitung Art. 6 Abs. 1 lit. b DSGVO.<br>
                Empfänger der Daten:
                Ihre Daten werden nicht an Dritte weitergegeben.<br>
                <br>
                <b>4.4. Kontaktaufnahme</b> <br> <br>
                Zwecke der Verarbeitung und Rechtsgrundlage:<br>
                Wenn Sie mit uns Kontakt aufnehmen, erfassen wir dabei Ihre Kontaktdaten. Ihre Kontaktdaten können, je nachdem, wie Sie mit uns in Kontakt treten (bspw. telefonisch, per E-Mail), Ihren Namen, Postanschriften, Telefonnummern, E-Mail-Adressen und Benutzernamen und ähnliche Kontaktdetails umfassen. Wir verwenden Ihre Daten ausschließlich zweckgebunden, um Ihre Anfrage zu bearbeiten, oder für Rückfragen.<br>
                Rechtsgrundlage für die Kontaktaufnahme ist Art. 6 Abs. 1 lit. f DSGVO (berechtigtes Interesse, die Anfragen unserer Kunden zu beantworten und somit Kundenzufriedenheit zu gewährleisten) bzw. Art. 6 Abs. 1 lit. b DSGVO (Anfragen im Zuge eines Vertragsverhältnisses). <br>
                Empfänger der Daten:<br>
                Bei der Beantwortung Ihrer Anfragen werden Ihre Daten nur innerhalb der Dommstain98 GmbH verarbeitet.
                <br>
                
            </form>    
        </div>
        </div>
    </div>
{% endblock %}