{% extends 'baseMain.html' %}

{% block content %}
<!-- Stylesheets -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/css/lobby.css' %}">

    <div class="window-body">
        <div class="lobbyName" style=" display: inline-block; margin-left: 15px; font-size: 30px;">
            <b>Lobby</b>
        </div>

            <button style="display: inline-block;  
                width: 20px;
                height: 40px;
                margin-top: 10px;
                margin-left: 1090px; ">
                x
            </button>

            <button style="display: inline-block;  
                width: 20px;
                height: 40px;
                margin-top: 10px;
                margin-left: 15px; ">
                Settings
            </button>

            <button style="display: inline-block;  
                width: 20px;
                height: 40px;
                margin-top: 10px;
                margin-left: 15px; ">
                Sign out
            </button>

        <div class="lobbyBox" style=" width: 1445px;
            height: 620px; 
            background-color: #7c7c7c;;
            margin-top: 15px;
            margin-left: 15px; 
            margin-right: 15px;">
        </div>

            <button style="display: inline-block;  
                width: 150px;
                height: 40px;
                margin-top: 15px;
                margin-left: 1140px; ">
                Create New Lobby
            </button>
       
            <button style="display: inline-block;
                width: 150px;
                height: 40px;
                margin-top: 15px;
                margin-left: 15px">
                Join
            </button>
       
        
    </div>
{% endblock %}