{% extends 'base.html' %}

{% block content %}
    <!-- Stylesheets -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/play.css' %}">

    <h2 class="h1 start">
      DOOMSTEIN98
    </h2>
    {% if user.is_authenticated %}
        <a href="{% url 'menu' %}">
            <button class="button start">
                <h2 class="h2 play">
                PLAY
                </h2>
            </button>
        </a>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="button start">
                <h2 class="h2 play">
                PLAY
                </h2>
            </button>
        </a>
    {% endif %}
{% endblock %}