<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title id="title">Document</title>

    {{ lobby_name|json_script:"json-lobbyname" }}
</head>
<body onload="init();">
    <div id="canvas-container" style="width:50%; height:50%; margin:auto;">
    </div>
    {% load static %}
    <script src="{% static 'game/scripts/dist/gpu-browser.min.js' %}"></script>

    <script src="{% static 'game/scripts/socketHandler.js' %}"></script>
    <script src="{% static 'game/scripts/drawingHandler.js' %}"></script>
    <script src="{% static 'game/scripts/inputHandler.js' %}"></script>
    <script src="{% static 'game/scripts/spriteReader.js' %}"></script>
    <script src="{% static 'game/scripts/main.js' %}"></script>
</body>
</html>