<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    {{ lobby_name|json_script:"json-lobbyname" }}
</head>
<body>
    <h1 id="headline">Test</h1>
    <a class="button is-info" id="chat-message-submit">Submit</a>

    {% load static %}
    <script src="{% static 'game/scripts/socketHandler.js' %}"></script>
</body>
</html>